/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.Bee-Logo {
  position: absolute;
  width: 220px;
  height: 220x;
  left: 29px;
  top: 400px;
}
section {
  margin-top: 0px;
   
}

ol {
  position: relative;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  align-content: flex-start !important;
  font-size: 20px;
  font-weight: 400;
}

ul {
  Width: 500px;
  Height: 21px;
  font-family: Work Sans;
  font-weight: 400, Regular;
  Size: 14px;
  line-height: 21px;
  margin-top:200px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #F2EC54;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
