/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.Bee-Logo {
  display: flex;
  position: absolute;
  width: 220px;
  height: 220x;
  left: 29px;
  top: 550px;
}

.placeForName {
  width: 370px;
  height: 43px;
  border: 1px solid #D4D4D8;
  box-sizing: border-box;
  border-radius:4px;
  gap: 12px;
  padding:10px;
  font-size: 16px;
  font-weight: 400;
  font-family: Work Sans;
}

section {
  margin-top: 0px;
   
}

ol {
  position: relative;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-content: flex-start;
}

ul {
  Width: 450px;
  Height: 21px;
  font-family: Work Sans;
  line-height: 21px;
  margin-top:280px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #F2EC54;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  font-style: normal;  
  font-size: 18px;
  font-weight: bold;
  display: flex;
  line-height: 21px;
  font-family: Work Sans;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
