.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.Bee-Logo {
  position: absolute;
  width: 278px;
  height: 278px;
  left: 29px;
  top: 500px;
}

p {
  color: black;
  Width: 290px;
  Height: 21px;
  Top: 453px;
  Left: 570px;
  font-family: Work Sans;
  font-weight: 400, Regular;
  Size: 14px;
  line-height: 21px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F2EC54;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
