.breweriesList {
  left:80px;
  /* left:700px; */
  right:66.6%;
  top: 15.6%;
  bottom: 55.86%;
  position: absolute;
  width: 1270px;
  max-height: 300px;

  padding: 30px;
  justify-content: center;
  justify-items: center;
  display:grid !important;
  grid-gap:30px;
  /* grid-template-columns: repeat(3, 340px); */
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

}

.title {
  position:absolute;
}

.section {
  width: 2000px;
}

.total {
  max-height: 300px;
}

head {
  background-color: black;
}
